h1 {
    background-color: greenyellow;
    text-align: center;
}


.container {
    width: 90%;
    align-self: auto;
    /* white-space: pre-wrap; */
   
    }

.container > div {
    display: inline-block;
}

#gifForm {
    text-align: center;
}

.gif {
    border-width: thick;
    margin: 20px;


}
